
/* nav style */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px ;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
/* shared style */
.text-center{
    text-align: center;
}
.text-primary{
    color: #FD6E0A;
}
nav ul li{
    list-style : none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 19px 35px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
.banner-greet{
    font-size: 45px;
    font-weight: 600px ;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 21px;
}
.banner-des{
    font-size: 18px;
    font-weight: 70px;
    color: #757575;
    margin-bottom: 30px;
}
.profile-pic{
    max-width: 584px;
    height: 676px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.header{
    background-image: url(../images/developer.png),  url(../images/icons/header_bg.png);
    background-repeat: no-repeat; 
    background-position: top left, bottom left;
}
.section-title{
    font-size: 45px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #ffe4d3;

}
/* about stylw */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.item-des{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
.about-title{
    color: #757575;
    font-size:20px ;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-item{
    display: flex;
    justify-content: space-around;
}
/* skills section */
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 33px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
    width: 267px;
    margin-bottom: 130px;
}
.skill-title{
    margin-top : 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
.skill-desc{
    color: #757575;
    font-size: 16px;
    font-weight: 400px;
}
.section-des{
    margin-bottom: 50px;
    width: 909px;
    
    margin-left: auto;
    margin-right: auto;
    font-weight: 400px;
    font-size: 18px;
    color: #757575;
}